body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.banner {
    position: relative;
}
.banner-img {
    height: 100vh;
    width: 100%;
}
.tint {
    background-color: rgba(0, 0, 0, 0.607);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.content {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 1000px;
}

.nav {
    color: white;
    position: absolute;
    top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 10%;
    transform: translate(-10%,-40%);
}

.nav-content-but {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.logo {
    margin-left: 10%;
    margin-top: 20px;
}
.logo-content {
    margin-right: 10%;
    margin-top: 20px;
}

.signin {
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    width: 80px;
    padding: 9px 16px;
    font-weight: bold;
}

.en-but {
    background-color: rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    padding: 9px 16px;

}

.but-en-side {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 5px;
    border: 1px solid #eee;
    width: 130px;
    justify-content: center;
}

.cont-heading {
    font-size: 50px;
}
.cont-para {
    font-size: 28px;
}
.cont-description {
    font-size: 20px;
}
.input-email {
    padding: 17px 24px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.462);
    border: 0.5px solid #eeeeee7a;
    border-radius: 4px;
    font-size: 16px;
}
::placeholder {
    color:rgba(255, 255, 255, 0.664);
}

.getStart-btn {
    background-color: red;
    padding: 17px 40px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
}